@font-face {
    font-family: "Regular";
    src: url(../assets/fonts/KumbhSans-Regular.ttf);
}
@font-face {
    font-family: "Thin";
    src: url(../assets/fonts/KumbhSans-Thin.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(../assets/fonts/KumbhSans-Bold.ttf);
}