header {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap : 1rem;

    border-bottom: 0.009rem solid hsl(220, 14%, 75%);
    h1 {
        width: 100%;
        flex: 1 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: "Bold";
        font-size: 2.5rem;
        padding-bottom: 0.6rem;
        cursor: pointer;
    }

    ul {
        flex : 3 1;
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1rem;
        li {
            font-size: 1rem;
            font-family: "Thin";
            font-weight: 400px;
            cursor: pointer;
        }
    }

    .avatar {
        flex : 0.5 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: center;
        

        i {
            font-size: 1.8rem;
            position: relative;
            cursor: pointer;

            p {
                font-size: 0.8rem;
                position: absolute;
                top: -5px;
                right: -4px;
                z-index: 2;
                color: hsl(0, 0%, 100%);
                background-color: hsl(26, 100%, 55%);
                width:1rem;
                height: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100% ;
                -webkit-border-radius: 100% ;
                -moz-border-radius: 100% ;
                -ms-border-radius: 100% ;
                -o-border-radius: 100% ;
            }
        }

        img {
            display: flex;
            max-width: 3.5rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

