@mixin Grid($columns) {
    display: grid;
    grid-template-columns: $columns;
}

@mixin selfPosition($justify-name, $align-name){
    justify-self: $justify-name;
    align-self: $align-name;
}


@mixin parentPosition($justify-name, $align-name){
    justify-content: $justify-name;
    align-items: $align-name;
}